body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

* {
	box-sizing: border-box;
}

/*header*/
.header-container {
	display: block;
	height: 50px;
}

.menu {
	display: flex;
	align-items: center;
	justify-content: center;
}

.buttons {
	height: 40px;
	width: 100px;
}

.start-button.active {
	background: green;
	color: white;
}

.end-button.active {
	background: red;
	color: white;
}

.wall-button.active {
	background: black;
	color: white;
}

.erase-walls-button.active {
	background: black;
	color: white;
}

.erase-all-walls-button.active {
	background: black;
	color: white;
}

.erase-all-button.active {
	background: blue;
	color: white;
}

.calculate-button.active {
	background: blue;
	color: white;
}
/*header*/
/*canvas*/
.container {
	position: absolute;
	height: calc(100% - 50px);
	width: 100%;
}

.canvas {
	border: 1px solid green;
	/* we let the canvas buffer's size rule its presentation dimensions */
}
/*canvas*/
/*footer*/
.footer-container {
	position: fixed;
	bottom: 5px;
	left: 10px;
}
/*footer*/